<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:outputStylesheet name="extraCss.css"/>
<f:view>
    <div class="grid-margin ui-grid">
            <div class="ui-grid-col-3">
    <ui:insert name="menu">
        <ui:include src="menu.xhtml" />
    </ui:insert>
            </div>
    <div class="ui-grid-col-9">
    <p:dataTable var="data" value="#{dataCon.userData}">
        <p:column headerText="Id">
            <h:outputText value="#{data.id}" />
        </p:column>

        <p:column headerText="Screnn DPI">
            <h:outputText value="#{data.screenDpi}" />
        </p:column>

        <p:column headerText="Screen Height">
            <h:outputText value="#{data.screenHeight}" />
        </p:column>

        <p:column headerText="Screen Width">
            <h:outputText value="#{data.screenWidth}" />
        </p:column>

        <p:column headerText="Newspaper name">
            <h:outputText value="#{data.newspaperName}" />
        </p:column>

        <p:column headerText="Upload Time">
            <h:outputText value="#{data.uploadTime}" />
        </p:column>

        <p:column headerText="File Name">
            <h:outputText value="#{data.filename}" />
        </p:column>

    </p:dataTable>
    </div>
    </div>
</f:view>
</html>
