<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:outputStylesheet name="grid/grid.css" library="primefaces" />
<h:outputStylesheet name="extraCss.css"/>
<h:head>
   <title>Upload File</title>
</h:head>
<h:body>
   <div class="grid-margin ui-grid">
      <div class="ui-grid-col-3">
   <ui:insert name="menu">
      <ui:include src="menu.xhtml" />
   </ui:insert>
      </div>
      <div class="ui-grid-col-9">
   <h:form enctype="multipart/form-data">
      <p:growl id="msg"></p:growl>
      <p:fileUpload value="#{fileUpload.file}"  mode="simple" allowTypes="/(\.|\/)(xml)$/" update="msg"></p:fileUpload>
      <p:separator/>
      <h:commandButton value="Upload File" action="#{fileUpload.uploadAction}"></h:commandButton>
   </h:form>
      </div>

   </div>
</h:body>
</html>
