<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <h:body>
        <p:menu>


                <p:menuitem value="View data" outcome="data-display" icon="ui-icon-home"/>
                <p:menuitem value="Upload File" outcome="index" icon="fa-cloud-upload"/>

        </p:menu>
    </h:body>
</h:head>
</html>
